#vui_description_field{
	width: 99%;
	margin: auto;
	min-height: 1.5cm;
}
.vui_description_image{
	width: 1.5cm;
	height: 1.5cm;
	border-radius: 50%;
	margin-top: -0.1cm;
	margin-left: 0.5cm;
	margin-right: 0.25cm;
	cursor: pointer;
	float: left;
}
#image_description{
	width: 85%;
	min-height: 1.5cm;
	font-family: Segoe UI;
	font-size: 16px;
	cursor: pointer;
	color: #000000;
	opacity: 0.8;
	margin-top: 0.25cm;
	margin-left: 2.25cm;
}
.vui_description_text_field{
	width: 15cm;
	height: 1cm;
	border: none;
	margin-top: 0.35cm;
	margin-left: 0.25cm;
	outline: none;
	font-size: 18px;
	font-family: Segoe UI Semilight;
	padding: 0px;
	background-color: #f9f9f9;
}
.vui_description_text_field:hover{
	border-bottom: 1px solid #e3e3e3;
}
.vui_description_text_field:focus{
	border-bottom: 1px solid #008aee;
}
.vui_btn_set_description{
	width: 2cm;
	height: 1cm;
	background-color: #008aee;  /* 1faeff */
	border: none;
	border-radius: 5px;
	font-size: 18px;
	font-family: Segoe UI Semilight;
	color: #ffffff;
	cursor: pointer;
	float: right;
	margin-top: 0.25cm;
	margin-right: 0.5cm;
}
#vui_uploaded_time{
	font-family: Segoe UI, Sans Serif;
	font-size: 16px;
	color: #242424;
	opacity: 0.8;
	width: 94%;
	height: 1cm;
	line-height: 1cm;
	margin: auto;
	border-top: 1px solid #e3e3e3;
}
#vui_user_image{
	width: 94%;
	min-height: 10cm;
	margin: auto;
	margin-bottom: 0.5cm;
}
#vui_image_huge{
	max-width: 100%;
	max-height: 100%;
	margin: auto;
}
#vui_buttons_field{
	width: 94%;
	height: 1.5cm;
	margin: auto;
	border-top: 1px solid #e3e3e3;
}
#vui_buttons_field li{
	display: inline;
}
#btn_likes_icon, #btn_comments_icon{
	width: 0.4cm;
	height: 0.4cm;
	float: left;
	margin-right: 0.2cm;
	margin-top: 0.55cm;
}
#btn_likes_text, #btn_comments_text, #btn_shares_text{
	color: #242424;
	opacity: 5;
	font-size: 16px;
	font-family: Segoe UI Semilight;
	float: left;
	margin-right: 0.5cm;
	margin-top: 0.48cm;
}
#btn_share_field{
	float: right;
	width: 2.5cm;
	height: 1cm;
	line-height: 0.01cm;
	text-align: center;
	border-radius: 10px;
	margin-top: 0.28cm;
	cursor: pointer;
}
#btn_shares_icon{
	width: 0.4cm;
	height: 0.4cm;
	float: left;
	margin-right: 0.2cm;
	margin-top: 0.3cm;
	margin-left: 0.35cm;
}
#btn_share:hover #btn_share_field{
	background: #e3e3e3;
}
#btn_share:hover #share_buttons_field{
	display: block;
}
#share_buttons_field{
	display: none;
	position: absolute;
	width: 6cm; /* 6cm */
	height: 4cm;
	padding: 0.25cm;
	border: 1px solid #e3e3e3;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 1px 1px 2px 0px #e3e3e3;
	color: #242424;
	font-size: 18px;
	font-family: Segoe UI Semilight;
	background-color: #ffffff;
	margin-left: 18.2cm;
	margin-top: -1.35cm;
}
#left_triangle_icon{
	position: absolute;
	margin-top: 1.6cm;
	margin-left: -0.52cm;
	width: 0.3cm;
	height: 0.5cm;
}
#info_icon{
	width: 0.8cm;
	height: 0.8cm;
	margin-top: 0.2cm;
	margin-left: 0.25cm;
	margin-right: 0.25cm;
	float: left;
}

#btn_more_field{
	float: right;
	margin-top: -0.85cm;
}
#btn_more{
	text-decoration: none;
	color: #505050; /*#3a3a3a;*/
	font-size: 70px;
	font-family: Sans Serif;
	letter-spacing: -7px;
	cursor: pointer;
}
#vui_more_buttons_field{
	position: absolute;
	margin-left: 1.2cm;
	margin-top: -2.2cm;
	width: 6cm;
	height: 3.2cm;
	border: 1px solid #e3e3e3;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 1px 1px 2px 0px #e3e3e3;
	color: #242424;
	font-size: 18px;
	font-family: Segoe UI Semilight;
	background-color: #ffffff;
	display: none;
}
#left_icon{
	position: absolute;
	margin-top: 1.35cm;
	margin-left: -0.3cm;
	width: 0.3cm;
	height: 0.5cm;
}
#btn_more_field:hover #vui_more_buttons_field{
	display: block;
}
#btn_more_field:hover #btn_more{
	color: #008aee;/* 1faeff */
}
.buttons{
	margin-top: 0.3cm;
	margin-left: 0.5cm;
}
#vui_more_buttons_field a{
	color: #005789;
	text-decoration: none;
}
#vui_more_buttons_field a:hover{
	text-decoration: underline;
}
#vui_comments{
	width: 100%;
	min-height: 4cm;
	border-top: 1px solid #e3e3e3;
	text-align: center;
}
#vui_comments a{
	text-decoration: none;
	color: none;
	text-align: center;
}
#btn_show_more_comment{
	width: 40%;
	height: 1.25cm;
	margin: auto;
	line-height: 1.25cm;
	text-align: center;
	background-color: #008aee;  /* 1faeff */
	border: none;
	border-radius: 5px;
	margin-top: 0.5cm;
	font-size: 18px;
	font-family: Segoe UI Semilight;
	color: #ffffff;
	cursor: pointer;
	margin-bottom: 0.5cm;
}
#btn_show_more_comment:hover, .vui_btn_comment_own:hover{
	box-shadow: 1px 3px 10px 0px #e3e3e3;
}

.vui_comment_field{
	width: 100%;
	min-height: 2cm;
	margin-top: 0.25cm;
	margin-bottom: 0.5cm;
}
.vui_comment_field .field_left{
	width: 70%;
	min-height: 2cm;
	float: left;
	text-align: left;
}
.vui_comment_field .field_right{
	width: 20%;
	min-height: 2cm;
	float: right;
}
.vui_comment_field .user_img{
	width: 1.25cm;
	height: 1.25cm;
	border-radius: 50%;
	margin: 0.25cm;
	margin-top: 0cm;
	float: left;
}
.vui_comment_field .user_name{
	font-family: Century Gothic;
	font-size: 15px;
	cursor: pointer;
	color: #008aee;
	margin-top: 0.1cm;
}
.vui_comment_field .comment{
	font-family: Segoe UI;
	font-size: 14px;
	cursor: pointer;
	margin-top: 0.1cm;
	color: #000000;
}
.vui_comment_field .date{
	font-family: Segoe UI, Sans Serif;
	font-size: 14px;
	color: #242424;
	opacity: 0.8;
}
#vui_leave_comment_field{
	width: 100%;
	height: 1.6cm;
	border-top: 1px solid #e3e3e3;
}
.vui_little_img{
	width: 1.3cm;
	height: 1.3cm;
	border-radius: 50%;
	margin-top: 0.1cm;
	margin-left: 0.5cm;
	cursor: pointer;
	float: left;
}
.vui_comment_field_own{
	width: 15cm;
	height: 1cm;
	border: none;
	margin-top: 0.25cm;
	margin-left: 0.25cm;
	outline: none;
	font-size: 18px;
	font-family: Segoe UI Semilight;
	padding: 0px;
	background-color: #f9f9f9;
}
.vui_comment_field_own:hover{
	border-bottom: 1px solid #e3e3e3;
}
.vui_comment_field_own:focus{
	border-bottom: 1px solid #008aee;
}
.vui_btn_comment_own{
	width: 2cm;
	height: 1cm;
	background-color: #008aee;  /* 1faeff */
	border: none;
	border-radius: 5px;
	font-size: 18px;
	font-family: Segoe UI Semilight;
	color: #ffffff;
	cursor: pointer;
	float: right;
	margin-top: 0.25cm;
	margin-right: 0.5cm;
}