body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	font-size: 16px;
	font-weight: normal;
}
li {
	margin: 0px;
	list-style: none;
}
input {
	line-height: normal;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/* .header part */
.header {
	width: 100%;
	background-color: #008aee; /* 1faeff */
	height: 1.25cm;
	margin-bottom: 0px;
	min-width: 5cm;
	line-height: 1.2cm;
	position: fixed;
	top: 0;
}
.header #logo {
	float: left;
	padding: 0px;
	width: 1.3cm;
	height: 1.25cm;
	border-radius: 50%;
	margin-left: 0.5cm;
	-webkit-transition: margin-left 0.5s;
	-moz-transition: margin-left 0.5s;
	transition: margin-left 0.5s;
	cursor: pointer;
}
.header #lang {
	outline: none;
	margin-top: 0.25cm;
	height: 0.7cm;
	width: 40%;
	max-width: 5cm;
	min-width: 3cm;
	border-radius: 5px;
	border: none;
	font-size: 18px;
	font-family: Tahoma;
	float: right;
	margin-right: 0.5cm;
	-webkit-transition: margin-right 0.5s;
	-moz-transition: margin-right 0.5s;
	transition: margin-right 0.5s;
}
.header #lang:hover {
	box-shadow: 2px 1px 5px 1px white;
}
/* main part */
.section {
	width: 90%;
	min-width: 5cm;
	max-width: 10cm;
	margin: auto;
	margin-top: 2cm;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
	border: 1px solid #e3e3e3;
	border-radius: 10px;
	/* box-shadow: 0px 0px 5px rgba(0,0,0, .3); */
}
.section_header {
	width: 100%;
	border-radius: 8px 8px 0px 0px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	background-color: #008aee; /* 1faeff */
}
.section_header #app_name {
	padding-top: 0.5cm;
	padding-bottom: 0.5cm;
	color: white;
	font-size: 30px;
	font-weight: bold;
	font-family: Comic Sans MS;
	text-align: center;
	display: block;
}
.section_main {
	min-width: 4.4cm;
	width: 90%;
	margin: auto;
	padding-bottom: 2%;
}
.section_main li {
	margin-top: 35px;
}
.section_main label {
	font-size: 20px;
}
.txt_field {
	width: 97%;
	min-width: 4.4cm;
	height: 0.8cm;
	border: 1px solid #949494;
	font-size: 16px;
	border-radius: 4px;
	font-weight: normal;
	margin-top: 5px;
	outline: none;
	padding-left: 10px;
	-webkit-appearance: none;
	background-color: white;
}
.section .footer {
	border-top: 1px solid #eeeeee;
}
#btn_signup {
	border: 0;
	width: 90%;
	min-width: 4.4cm;
	height: 1cm;
	background-color: #008aee; /* 1faeff */
	color: white;
	font-size: 16px;
	border-radius: 5px;
	margin-top: 0.5cm;
	margin-bottom: 0.5cm;
}
#btn_login {
	border: none;
	width: 30%;
	max-width: 3cm;
	min-width: 2cm;
	height: 1cm;
	background-color: #008aee; /* 1faeff */
	color: white;
	font-size: 16px;
	border-radius: 5px;
	margin-top: 10px;
}
#pass_forgot {
	margin-top: 0.7cm;
	color: #0276cb;
	font-size: 17px;
	text-decoration: underline;
	background: none;
	border: none;
	cursor: pointer;
	float: left;
}
.status {
	text-align: center;
	color: red;
	border: 1px solid red;
	padding-top: 0px;
	margin-top: 35px;
}
.status li {
	margin: 0px;
	padding: 0px;
}
.status img {
	width: 0.5cm;
	height: 0.5cm;
	float: left;
}
.txt_field:focus {
	box-shadow: 1px 1px 8px 1px #0089ed;
	outline: none;
}
.txt_field:hover,
.select_birthday:hover,
.select_gender:hover {
	box-shadow: 1px 0px 5px 1px #0089ed;
	outline: none;
}
#btn_signup:hover,
#btn_login:hover {
	background-color: #006dbc; /* hover taze */
}
.css_status_js {
	margin-top: -5px;
	margin-left: 5px;
	margin-bottom: -1.5cm;
	min-width: 6cm;
	position: absolute;
	display: none;
}
.status_top_png {
	height: 0.25cm;
	width: 0.45cm;
	margin: 0px;
	padding: 0px;
	margin-left: 0.5cm;
}
.js_status_field {
	min-height: 0.83cm;
	margin-top: -5px;
	border: 1px solid #7a7a7a;
	box-shadow: 0px 0px 2px 2px #e3e3e3;
	background-color: white;
	border-radius: 3px;
	padding: 0px;
	text-align: center;
}
.warner_png {
	height: 0.6cm;
	width: 0.6cm;
	float: left;
	margin-top: 4px;
	margin-left: 4px;
	margin-right: 5px;
	padding: 0px;
}
.warner_text {
	margin-top: 6px;
	font-size: 18px;
	color: #2d2d2d;
	margin-bottom: 3px;
	margin-right: 3px;
}
#pass_forgot:hover {
	color: #0d31a3;
}
