@charset "utf-8";
body{
	margin: 0px;
	padding: 0px;
	width: 100%;
	font-size: 16px;
	font-weight: normal;
}
li{
	margin: 0px;
	list-style: none;
}
.txt_field:focus{
	box-shadow: 1px 1px 8px 1px #0089ed;
	border: 1px solid white;
	outline: none;
}
.txt_field:hover, .select_birthday:hover, .select_gender:hover, .btn:hover{
	box-shadow: 1px 0px 5px 1px #0089ed;
	border: 1px solid #076cb5;
	outline: none;
}
.css_status_js{
	margin-top: -5px;
	margin-left: 5px;
	margin-bottom: -1.5cm;
	min-width: 6cm;
	position: absolute;
	display: none;
}
.status_top_png{
	height: 0.25cm;
	width: 0.45cm;
	margin: 0px;
	padding: 0px;
	margin-left: 0.5cm;
}
.js_status_field{	
	min-height: 0.83cm;
	margin-top: -5px;
	border: 1px solid #7a7a7a;
	box-shadow: 0px 0px 2px 2px #e3e3e3;
	background-color: white;
	border-radius: 3px;
	padding: 0px;
	text-align: center; 
}
.warner_png{
	height: 0.6cm;
	width: 0.6cm;
	float: left;
	margin-top: 4px;
	margin-left: 4px;
	margin-right: 5px;
	padding: 0px;
}
.warner_text{
	margin-top: 6px;
	font-size: 18px;
	color: #2d2d2d;
	margin-bottom: 3px;
	margin-right: 3px;
}
.password_notification{
	width: 0%;
	opacity: 1;
	height: 1cm;
	background-color: #e3e3e3;
	color: white;
	margin-top: 0cm;
	transition: width 0.3s, opacity 2s;
	-webkit-transition: width 0.3s, opacity 2s;
	-moz-transition: width 0.3s, opacity 2s;
	position: absolute;
}
#password_notification_message{
	opacity: 1;
	margin-left: 0.5cm;
	margin-top: 0.15cm;
	padding-left: 10px;
	padding-top: 0.1cm;
	font-weight: bold;
	display: none;	
	transition: opacity 2s;
	-webkit-transition: opacity 2s;
	-moz-transition: opacity 2s;
}
.header .field_back{
	float: right;
	width: 0.75cm;
	height: 0.75cm;
	padding: 0px;
	border-radius: 50%;
	margin-top: 0.14cm;
	border: 3px solid #ffffff;
	margin-right: 3%;
}
.header .field_back:hover{
	background-color: #0279cf;
	border-color: #cfe6f7;
}
.header #back_icon{
	margin-top: 0.13cm;
	margin-left: 0.122cm;
	width: 0.5cm;
	height: 0.5cm;
}
/* header part */
.header{
	width: 100%;
	background-color: #008aee;  /* - täze*/ 
	height: 1.2cm;
	margin-bottom: 0px;
}
.header #logo{
	float: left;
	padding: 0px;
	width: 1cm;
	height: 1cm;
	border-radius: 50%;
	margin-left: 1cm;
	margin-top: 0.1cm;
	-webkit-transition: margin-left 0.5s;
	-moz-transition: margin-left 0.5s;
	transition: margin-left 0.5s;
}
.header #site_name{
	display: block;
	font-size: 30px;
	font-weight: bold;
	font-family: Sans Serif;
	color: white;
	margin-left: 10px;
	margin-top: 5px;
	float: left;
}

/* main part */
.section{
	width: 80%;
	min-width: 7cm;
	max-width: 9.5cm;
	margin: auto;
	margin-top: 1cm;
	box-shadow: 0px 0px 5px rgba(0,0,0, .3);
	border-radius: 10px;
	/* box-shadow: 0px 0px 5px rgba(0,0,0, .3); */
	border: 1px solid #e3e3e3;
}
.section .section_title{
	min-width: 10cm;
	width: 100%;
	margin: 0px;
	margin-left: -0.3cm;
}
.section .section_body{
	box-shadow: 0px 0px 5px rgba(0,0,0, .3);
	border-radius: 10px;
	margin-top: 0.5cm;
	width: 100%;
}
.section_header{
	display: block;
	width: 100%;
	border-radius: 8px 8px 0px 0px;
	border-bottom: 1px solid rgba(0,0,0, .3); 
	background-color: #008aee;  /* - täze*/ 
}
.section_header #app_name{
	padding-top: 0.5cm;
	color: white;
	font-size: 30px;
	font-weight: bold;
	font-family: Comic Sans MS;
	text-align: center;
	display: block;
}
.section_header #pass_forgotten{
	display: block;
	font-size: 20px;
	color: white;
	font-family: Sans Serif;
	text-align: center;
	padding-bottom: 0.5cm;
}
.section_main{
	display: block;
	min-width: 6.4cm;
	width: 90%;
	margin: auto;
	padding-bottom: 5%;
}
.section_main #field_1{
	margin-top: 60px; 
}
.section_main #field_2{
	margin-top: 1cm; 
	font-size: 20px;
}
.section_main label{
	font-size: 20px;
}
.txt_field{
	width: 100%;
	min-width: 6.4cm; 
	height: 0.9cm;
	border: 1px solid #949494;
	font-size: 16px;
	border-radius: 4px;
	font-weight: normal;
	margin-top: 5px;
	outline: none;
	padding-left: 10px;
	-webkit-appearance: none;
	background-color: white;
}
.btn{
	border: none;
	width: 40%;
	max-width: 3cm; 
	min-width: 2cm; 
	height: 1cm;
	background-color: #0089ed;
	color: white;
	font-size: 16px;
	border-radius: 5px;
	margin-top: -10px;
}
.status{
	text-align: center;
	color: red;
	border: 1px solid red;
	padding-top: 0px;
	margin-top: 35px;
}
.status li{
	margin: 0px;
	padding: 0px;
}
.status img{
	width: 0.5cm;
	height: 0.5cm;
	float: left;
}