.header .field_back{
	float: right;
	width: 0.75cm;
	height: 0.75cm;
	padding: 0px;
	border-radius: 50%;
	margin-top: 0.14cm;
	border: 3px solid #ffffff;
	margin-right: 1cm;
}
.header .field_back:hover{
	background-color: #0279cf;
	border-color: #cfe6f7;
}
.header #back_icon{
	margin-top: 0.13cm;
	margin-left: 0.122cm;
	width: 0.5cm;
	height: 0.5cm;
	border: none;
}
.main_body{
	float: left;
	width: 70%;
	min-height: 19cm;
	height: 96%;
	margin-top: 4%;
	margin-left: 0.5cm;
	background-color: #f4f4f4;/* edeef0-vk, dedede */
}
.menu_top{
	width: 100%;
	height: 1cm;
	line-height: 1cm;
	text-align: left;
	letter-spacing: 1px;
}
.menu_top_elem{
	font-family: Segoe UI Light;
	font-size: 25px;
	cursor: pointer;
	color: #454545;
	text-decoration: none;
	margin-right: 1cm;
	margin-left: 1cm;
}
.menu_top_selected_elem{
	font-family: Segoe UI Light;
	font-size: 25px;
	cursor: pointer;
	color: #008aee;  /* 1faeff */ 
	text-decoration: none;
	margin-right: 1cm;
	margin-left: 1cm;
	display: inline;
}
.menu_top_elem:hover, .menu_top_selected_elem:hover{
	text-decoration: underline;
}
.search_friends{
	margin-top: 0.2cm;
	margin-left: 0cm;
	height: 1.5cm;
	width: 100%;
	background-color: #ffffff;
	border-radius: 2px;
}
.friends_list{
	margin-top: 0.2cm;
	margin-left: 0cm;
	height: 14.75cm;
	float: left;
	width: 30%;
	background-color: #ffffff;
	border-radius: 2px;
}
.friends_informations{
	margin-top: 0.2cm;
	float: left;
	margin-left: 1%;
	height: 14.75cm;
	width: 69%;
	background-color: #ffffff;
	border-radius: 2px;
}

#search_ico{
	height: 0.5cm;
	width: 0.5cm;
	margin-top: 0.5cm;
	margin-left: 0.3cm;
	float: left;
	padding-bottom: 0px;
	margin-bottom: 0px;
	border: none;
}
#search_list{
	margin-top: 0.38cm;
	margin-left: 0.1cm;
	border: none;
	border-bottom: 1px solid #f4f4f4;
	outline: none;
	float: left;
	width: 70%;
	height: 0.8cm;
	font-size: 18px;
	font-family: Segoe UI Semilight;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

#search_list:hover, #search_list:focus{
	border-bottom: 1px solid #1faeff;  /* 1faeff */ 
}
#btn_down{
	margin-top: 0.35cm;
	margin-left: 0.4cm;
	border: none;
	background: none;
	padding-bottom: 0px;
	margin-bottom: 0px;
	cursor: pointer;
	height: 0.9cm;
	width: 1.3cm;
	float: left;
	padding: 0px;
}
#status_btn_down{
	
}
#btn_down:hover #status_btn_down{
	display: block;
}
#none_found{
	margin-top: 0.3cm;
	color: #e3e3e3;
	font-size: 30px;
	cursor: pointer;
}
#no_image_1{
	height: 3cm;
	width: 3cm;
	margin-left: 41%;
	margin-top: 4cm;
	border-radius: 50%;
	cursor: pointer;
}
#search_indicator{
	font-size: 20px;
	font-family: Segoe UI Semilight;
	color: #008aee;  /* 1faeff */ 
	padding-bottom: 0px;
	cursor: pointer;
	margin-top: 0.5cm;
	margin-left: 0.6cm;
	margin-bottom: 0.5cm;
}
#btn_search{
	border: none;
	width: 23%;
	max-width: 3cm; 
	min-width: 1.5cm; 
	height: 1cm;
	background-color: #008aee;  /* 1faeff */ 
	color: white;
	font-size: 18px;
	border-radius: 5px;
	margin-top: 0.25cm;
	float: right;
	margin-right: 0.5cm;
	font-family: Calibri;
	cursor: pointer;
}
#btn_search:hover{
	background-color: #006dbc; /* hover taze */
	outline: none;
}
#load_gif{
	position: relative;
	margin-left: 41%;
	margin-top: 4cm;
	min-height: 1.5cm;
	min-width: 1.5cm;
	border: none;
}
.friendship_notification{
	width: 0%;
	opacity: 1;
	height: 1cm;
	background-color: #e3e3e3;
	color: white;
	margin-top: 0cm;
	transition: width 0.3s, opacity 2s;
	-webkit-transition: width 0.3s, opacity 2s;
	-moz-transition: width 0.3s, opacity 2s;
	position: absolute;
}
#friendship_notification_message{
	opacity: 1;
	margin-left: 0.5cm;
	margin-top: 0.15cm;
	padding-left: 10px;
	padding-top: 0.1cm;
	font-weight: bold;
	display: none;	
	transition: opacity 2s;
	-webkit-transition: opacity 2s;
	-moz-transition: opacity 2s;
}
.basic_informations{
	width: 97%;
	margin-bottom: 0.5cm;
	margin-left: 2%;
	height: 3.7cm;
	margin-top: 0.5cm;
}